


.box
    clear both
    background-color #c0cacf
    border-color transparent
    border-radius 3px
    border-style solid
    border-width 1px
    color #606a6f
    display block
    font-size 11px
    font-weight bold
    margin-bottom 10px
    padding 9px 20px
    text-align left
    transition all 0.2s
    word-spacing 3px
    overflow hidden



    &:after, &:before
        display block
        clear both
        content ''



    &.hidded
        border-bottom 0px
        border-top 0px
        font-size 0px
        height 0px
        margin-bottom 0px
        padding-bottom 0px
        padding-top 0px
        transition all 0.2s



    &.info
        background-color #b8ccf1
        color #637699



    &.alert
        background-color #f6e6a6
        color #a6944b



    &.success
        background-color #c5ec93
        color #759945



    &.error
        background-color #ee6f6f
        color #994545



    &.weird
        background-color #c06fee
        color #7a4599



    &.neutral
        background-color #c0cacf
        color #606a6f



    &.empty
        background-color #fff
        border-color #eaeaea
        color #808a8f
